/* Mobile */
@media (max-width: 700px) {
  .centerText {
    text-align: center;
    display: inline;
  }
}

.text {
  display: flex;
  justify-content: center;
  color: aquamarine;
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
  .centerText {
    text-align: center;
  }
}
